<div data-controller="dashboard pixeldex"
     data-dashboard-groups-url-value="<%= pokemon_groups_path %>"
     data-dashboard-csrf-value="<%= form_authenticity_token %>"
     data-dashboard-user-id-value="<%= current_user_id %>"
     data-pixeldex-abilities-data-value="<%= SoulLink::GameState.pokemon_abilities.to_json %>"
     data-pixeldex-evolutions-data-value="<%= SoulLink::GameState.evolutions.to_json %>"
     data-pixeldex-sprite-map-value="<%= pixeldex_sprite_urls.to_json %>"
     data-pixeldex-natures-data-value="<%= PixeldexHelper::NATURES.to_json %>"
     data-pixeldex-pokemon-update-url-value="/pokemon"
     data-pixeldex-group-update-url-value="<%= pokemon_groups_path %>"
     data-pixeldex-update-slots-url-value="<%= update_slots_team_path %>"
     data-pixeldex-csrf-value="<%= form_authenticity_token %>">

  <%= render "title_bar" %>
  <%= render "tab_bar" %>

  <div class="pc-layout">
    <%# Left sidebar: always visible compact party %>
    <%= render "party_panel" %>

    <%# Center: tab-switchable content %>
    <div class="panel">
      <div data-pixeldex-target="tabContent" data-tab="party" class="hidden">
        <%= render "party_detail" %>
      </div>
      <div data-pixeldex-target="tabContent" data-tab="pcbox">
        <%= render "pc_box_content" %>
      </div>
      <div data-pixeldex-target="tabContent" data-tab="map" class="hidden">
        <%= render "map_content" %>
      </div>
      <div data-pixeldex-target="tabContent" data-tab="gyms" class="hidden">
        <%= render "gyms_content" %>
      </div>
      <div data-pixeldex-target="tabContent" data-tab="strategy" class="hidden">
        <%= render "strategy_panel" %>
      </div>
      <div data-pixeldex-target="tabContent" data-tab="runs" class="hidden">
        <%= render "runs_content" %>
      </div>
      <div data-pixeldex-target="tabContent" data-tab="calc" class="hidden">
        <%= render "calc_content" %>
      </div>
    </div>

    <%# Right sidebar: always visible compact map/gyms %>
    <%= render "map_panel" %>
  </div>

  <%= render "catch_modal" %>
  <%= render "pokemon_modal" %>
</div>
