<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Soul Link" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Soul Link">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pixeldex", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <nav class="gb-nav">
        <div class="gb-nav-left">
          <%= link_to root_path, class: "gb-nav-logo", style: "text-decoration: none;" do %>
            &#9876; SOUL LINK
          <% end %>
          <%= link_to "Dashboard", dashboard_path, class: "gb-nav-link" %>
          <%= link_to "Map", map_path, class: "gb-nav-link" %>
          <%= link_to "Species", species_path, class: "gb-nav-link" %>
          <%= link_to "My Team", team_path, class: "gb-nav-link" %>
          <%= link_to "All Teams", teams_path, class: "gb-nav-link" %>
          <%= link_to "Gym Ready", gym_ready_path, class: "gb-nav-link" %>
          <%= link_to "Runs", runs_path, class: "gb-nav-link" %>
          <%= link_to "Play", emulator_path, class: "gb-nav-link" %>
        </div>
        <div class="gb-nav-right">
          <% if current_avatar_url %>
            <img src="<%= current_avatar_url %>" class="gb-nav-avatar" alt="avatar">
          <% end %>
          <span class="gb-nav-user"><%= current_username %></span>
          <%= button_to "Logout", logout_path, method: :delete, class: "gb-nav-logout" %>
        </div>
      </nav>
    <% end %>

    <main class="gb-page">
      <% if flash[:alert] %>
        <div class="gb-flash gb-flash-alert"><%= flash[:alert] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="gb-flash gb-flash-notice"><%= flash[:notice] %></div>
      <% end %>
      <div class="gb-page-inner">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
